@import "bootstrap";
@import "wiki";

body {
   -webkit-font-smoothing: antialiased;
}

a {
   &:hover {
      text-decoration: none;
   }
}

ul,
ol {

   .swagger-ui-wrap & {
      margin: 0;
      padding: 0;
      list-style: none;
   }
}

table {

   &.table {
      margin-bottom: 20px;

      th,
      td {
         line-height: 30px;
      }

      .post &,
      .put &,
      .delete & {

         th,
         td {

            &:nth-child(2) {
               display: none;
            }

         }

      }

   }

}

#message-bar {
   text-align: center;
}

.container-fluid {
   padding-right: 25px;
   padding-left: 25px;
}

.navbar {
   margin-bottom: 20px;

   .navbar-inner {
      .box-shadow(none);
   }

   .brand {
      padding-left: 60px;
      background-image: url("images/grey.svg");
      background-repeat: no-repeat;
      background-size: 25px;
      background-position: 20px center;

      &:hover {
         background-image: url("images/blue.svg");
         color: #528EC9;
      }

   }

   .github-btns {
      padding: 10px 0 0;
   }

}

.page-header {

   h1,
   h2 {
      margin: 0;
   }

}

.resource {

   > .heading {
      padding: 10px 0;

      h2 {
         float: left;
         margin: 0;
         font-size: 24px;

         .api {
            font-weight: normal;
         }

      }

      .options {
         padding: 10px 0;
         line-height: 20px;

         a {
            padding: 0 10px;
            border-right: 1px solid @navbarBorder;
            color: @grayLight;

            &:hover {
               color: darken(@grayLight, 10%);
            }

         }

         li {

            &:last-child a {
               border: none;
            }

         }

      }

   }

}

.operation {
   padding-bottom: 10px;

   .heading {
      padding: 10px;
      background: #F6F6F6;
      border: 1px solid #E5E5E5;
      border-radius: 2px;
      .border-left-radius(3px);
      font-size: 100%;
      line-height: 20px;

      h3 {
         float: left;
         margin: 0;
         font-size: 18px;
         font-weight: normal;
         line-height: 20px;

         span {
            display: inline-block;
         }

      }

      .label {
         width: 60px;
         height: 42px;
         margin: -11px;
         margin-right: 15px;
         padding: 0 15px;
         font-size: 13px;
         font-weight: normal;
         line-height: 42px;
         text-align: center;
         text-transform: uppercase;
         vertical-align: top;
      }

   }

   &.get .label {
      background-color: @infoText;
   }

   &.post .label {
      background-color: @successText;
   }

   &.put .label {
      background-color: @warningText;
   }

   &.delete .label {
      background-color: @errorText;
   }

   .content {

      h4 {
         margin: 0;
         padding: 10px 0;
      }

      .parameter {
         margin-bottom: 0;
      }

   }

}

.resource,
.operation {

   .heading {
      .clearfix;

      .options {
         float: right;

         li {
            float: left;
         }

         a {
            display: block;
         }

      }

   }

}

.footer {
   .clearfix;
   margin: 20px 0;

   h4 {

      span {
         font-variant: small-caps;
         font-weight: normal;
      }

   }

   .credits {
      float: right;
      color: #999;
      font-size: 11px;
      line-height: 1.4;
   }

   .edited {
      color: #999;
      margin: 10px 0 0;
      font-size: 12px;
      line-height: 19px;
   }

}

.navbar .nav > li > a {
   outline: none !important;
}

.navbar .nav > li > a:hover,
.navbar .nav > li.open > a {
   border-top: 3px solid #DD4B39;
   padding-top: 7px;
}

.navbar .nav > li > a.Selected {
   border-top: 3px solid #2590D6;
   padding-top: 7px;
}

.dropdown-menu > li > a.Selected {
   color: @dropdownLinkColorActive;
   text-decoration: none;
   outline: 0;
   #gradient > .vertical(@dropdownLinkBackgroundActive, darken(@dropdownLinkBackgroundActive, 5%));
}

.DismissMessage {
   .alert;
}

.CasualMessage {
   .alert-success;
}

.InfoMessage {
   .alert-info;
}

.WarningMessage {
   .alert-error;
}