<div class="container" id="resources_container">
    <ul id="resources"></ul>

    <hr>

    <div class="footer">
        <h4><span>base url</span>: {{basePath}}</h4>
        {{#if apiVersion}}
            <h4><span>api version</span>: {{apiVersion}}</h4>
        {{/if}}
    </div>

</div>